*{
    padding:0px;
    margin:0px;
}

body{
    background-color:#1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card{
    background-color: #334155;
    margin-top: 20px;
    width:600px;
    height:auto;
}
#inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#input{
    width:fit-content;
    height:30px;
}

#addButton{
    background-color: #4f46e5;
    width:70px;
    height:50px;
    font-size: 1.1rem;
}


#subjectCardContainer{
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:auto;
    padding:20px;
    gap:20px;
    border:none;
    margin: 20px;
}

.subjectCard {
    border: 2px solid white;
    padding: 20px;
    width: 300px;
    background-color: #1e293b;
    margin-bottom: 20px;
    border-radius: 10px;
}

.subjectCard button {
    margin: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.subjectCard button:first-child {
    background-color: #22c55e;
}

.subjectCard button:last-child {
    background-color: #ef4444;
}

.subjectCard div {
    margin: 5px 0;
}

.subjectCard h2 {
    margin-bottom: 10px;
    text-align: center;
    color:white;

}

.percentageText{
    color :#e2e8f0;
    font-weight: 600px;
}

.RequiredText{
    color: #94a3b8;
}

.ButtonContainer{
    display:flex;
    justify-content: center;

}

button:hover{
    opacity: 0.7;
    transform: scale(1.1);
    transition:0.3s ease;
}


.Warning{
    color: #facc15;
}

.Safe{
    color:#22c55e;
}
